{% extends 'base.html' %}

{% block title %}Лента записей{% endblock %}

{% block content %}
    <h1 class="pb-2 mb-0">Лента записей</h1>
    
    {% for post in posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">{{ post.location }}</h3>
            <p class="card-text text-muted">{{ post.date }}</p>
            <p class="card-text">{{ post.text|truncatewords:10 }}</p>
            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Читать полный текст</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}